@import "tailwindcss";
html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #0f141a;
}

.system-grid {
  @apply grid grid-cols-6 px-4 md:px-[30px];
}

.btn {
  @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded transition-all;
}

.active {
  @apply bg-blue-700 border-blue-500 border-0;
}
